@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: white;
    --foreground: #171717;
    --light-foreground: #eeeeee;
    --accent1: rgb(83, 31, 206);
    --accent2: #2a3b9c;

    --small-button: 6px;

    --paragraph: 14px;
    --header: 22px;
}
body {
    background: var(--background);
    color: var(--foreground);
    padding: 0;
    margin: 0;
    font-family: "Inter";
}
#title {
    font-weight: bold;
    font-size: 23px;
}
nav {
    position: fixed;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* padding: 0 40px; */
    height: 80px;
    border-bottom: 1px solid var(--light-foreground);
}
nav > header {
    display: flex;
    justify-content: center;
    heighT: 80px;
    border: none;
    width: 85%;
}
#nav-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--small-button);
    height: 100%;
}
#nav-buttons > button {
    transition: .2s ease;
    /* border: none; */
    border: 1px solid var(--light-foreground);
    background: transparent;
    height: 40%;
    padding: 0 12px;
    font-size: 17px;
    font-family: "Poppins";
    border-radius: var(--small-button);
}
#nav-buttons > button:hover {
    transition: .2s ease;
    background: var(--foreground);
    color: var(--background);
    cursor: pointer;
}
.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
}
.text-box-header {
    margin: 0;
    line-height: calc(var(--header) * 1.4);
    font-size: var(--header);
}
.text-box-paragraph {
    font-family: "Poppins";
    line-height: calc(var(--paragraph) * 1.6);
    font-size: var(--paragraph);
}
.accent1, .accent2 {
    font-weight: 500;
}
.accent1 {
    color: var(--accent1);
}
.accent2 {
    color: var(--accent2);
}
